<h2>Contacts</h2>
<p>На этой странице вы сможете написать нам в Barber Shop и мы с вами свяжемся</p>

<form action="/contacts" method="POST" role="form">

  <div class="form-group">
    <label>Ваш Email адрес</label>
    <input name="email" type="text" class="form-control" placeholder="Ваш Email">
  </div>

  <div class="form-group">
    <label>Ваше сообщение</label>
    <input name="messages" type="text" class="form-control" placeholder="Ваше сообщение">
  </div>

  <button type="submit" class="btn btn-primary">Отправить</button>

</form>
